
/*cabeçalho*/
.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav { 
    display: flex;
    
}

/*grid cursos */

.conteudoPrincipal-cursos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.conteudoPrincipal-cursos-link {
    width: 23%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;

}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;

}


/*container vídeo/cadastre-se */

.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}   

.videoSobre-sobre-list{
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}


/*Rodapé*/

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
   /* flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap;
    height: 260px;
    align-content: space-between;
}


/* Versão mobile*/

@media screen and (max-device-width: 768px) {

.cabecalhoPrincipal .container , .cabecalhoPrincipal-nav {
   display: flex;
   flex-direction: column;
   text-align: center ;
   align-items: normal;
   justify-content: normal;
}

.conteudoPrincipal-cursos {
    flex-direction: column;
}

.conteudoPrincipal-cursos-link {
    width: 100%;
}

.rodapePrincipal-navMap-list {
    height: auto;
}

.rodapePrincipal-patrocinadores .container{
    flex-direction: column;
    align-items: center;
}

.rodapePrincipal-patrocinadores-list{
    width: 100%;
    align-items: center;
}

.rodapePrincipal-contatoForm{
    width: 100%;
    
}

.rodapePrincipal-contatoForm-fieldset{
    justify-content: center;
}

.cabecalhoPrincipal-nav-link-app{
    order: -1;
}

.videoSobre .container {
    flex-direction: column;
    align-items: center;
}


}

